.button__like {
  all: unset;
  border: none;
  width: 21px;
  height: 19px;
  margin: 0;
  align-self: center;
  background-image: url(../../../images/__like.svg);
}

.button__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
