.button_type_delete {
  width: 18px;
  height: 19.3px;
  align-self: center;
  background: url(../../../images/_type_delete.svg) no-repeat center;
  position: absolute;
  margin-top: 18px;
  margin-left: 249px;
  z-index: 1;
}

.button_type_delete:hover {
  opacity: 0.6;
}
