.button_type_close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10%;
  right: -8%;
  background: url(../../../images/__close-icon.svg) no-repeat center;
}

.button_type_close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .button_type_close {
    right: 1%;
    top: -13%;
    width: 26px;
    height: 26px;
  }
}
