.popup__job-input {
  all: unset;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 29.74px 36px 0;
  color: black;
  border-bottom: rgba(0, 0, 0, 20%) 1px solid;
  padding-bottom: 13px;
}

@media screen and (max-width: 320px) {
  .popup__job-input {
    margin: 30px 22px 0;
    padding-bottom: 9px;
  }
}
