.logo__image {
  max-width: 173px;
  max-height: 33px;
  margin: 0;
  padding-bottom: 41px;
}

@media screen and (max-width: 765px) {
  .logo__image {
    max-width: 126px;
    max-height: 24px;
    padding-bottom: 32px;
    padding-left: 27px;
  }
}
