.cards__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  max-width: 100%;
  /*width: 282px;
  height: 361px;*/
}
