.popup__window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 430px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 380px) {
  .popup__window {
    width: 282px;
    margin: 0 19px;
  }
}
