.popup__close-button {
  all: unset;
  background: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    right: 0;
    top: -53px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    margin: 0 19px;
  }
}
