.button_style_like {
  all: unset;
  border: none;
  width: 21px;
  height: 19px;
  align-self: center;
  padding-left: 26px;
  background: url(../../../images/__like.svg) no-repeat center;
}

.button_style_like:hover {
  opacity: 0.5;
}
