.cards__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin: 46.25px 200px 0;
  padding: 0;
  list-style: none;
  max-width: 880px;
}

@media screen and (max-width: 320px) {
  .cards__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
}
