.footer {
  display: flex;
  margin: 68px auto 0;
  padding-bottom: 60px;
  width: 100%;
  max-width: 880px;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 50px;
    padding-bottom: 36px;
  }
}
